header{
	padding: 28px 0 19px 0;
	background-color: #fff;
	@media(max-width: $md1){
		padding: 28px 10px 19px 10px;
	}
}
.burger__item{
	display: none;
}
.header-top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.header-top__lang {
	a{
	font-family: 'Bebas Neue';
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin: 0 12px 0 0;
	text-decoration: underline;
	text-decoration-color: rgba(0,0,0,0.2);
	}
	:first-child{
		position: relative;
		line-height: 19px;
		display: inline-block;
		color: #fff;
		background-color: #000;
		width: 19px;
		height: 19px;
		text-align: center;
		text-decoration: none;
	}
	:last-child{
		margin: 0;
	}
}

.header-top__order {
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'AkzidenzGroteskBQ';
	text-decoration: underline;
}
.header-bottom {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.header-menu {
	flex: 1 0 auto;
}
.header-menu--l{
	>*{
		margin: 0 43px 0 0;
	}
	:last-child{
		margin:0;
	}
	@media(max-width:$md1){
		>*{
		margin: 0 33px 0 0;
	}
		:last-child{
			margin: 0;
		}
	}
}

.header-menu--r{
	text-align: right;
	>*{
		margin: 0 0 0 45px;
	}
	:first-child{
		margin: 0;
	}
	@media(max-width:$md1){
		>*{
		margin: 0 0 0 35px;
	}
		:first-child{
			margin: 0;
		}
	}
}
.header-menu__item {
	position: relative;
	top: -15px;
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'AkzidenzGroteskBQ';
	letter-spacing: 0.1em;
}
.header-icon {
	flex: 0 0 auto;
	text-align: center;
	position: relative;
	top:-12px;
}
.header-icon__title {
	font-family: 'Bebas Neue';
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 0.8em;
	span{
		letter-spacing: 0.34em;
	}
}
.header-icon__image {
	margin: 12px 0 22px 0;
}


@media(max-width:$md2){

header{
	height: 100px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

	.header-menu--l{
		position: fixed;
		background-color: #fff;
		padding: 80px 0 0 30px;
		top: 0;
		left: -120%;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		z-index: 2;
		transition: all 0.8s ease 0s;
		.header-menu__item{
				margin: 0 0 20px 0;
				padding: 0;
		}
		nav{
			text-align-last: left;
			display: flex;
			flex-direction: column;
			:first-child{
				margin: 0 0 20px 0;
			}
		}
		.header-top__lang{
			margin: 30px 12px 40px 0;
		}
		&.active{
			left: 0;
		}
	}

	.header-top{
		justify-content: flex-end;
		padding: 15px 0 0 0;
	}

	.header-icon{
		transform: scale(0.6) translate(-85%, 0);
		position: absolute;
		top: -5px;
		left: 50%;
	}

	.burger__item{
		width: 40px;
		height: 40px;
		margin: 0 0 0 15px;
		display: block;
		padding: 11px 0 0 0;
		cursor: pointer;
		position: absolute;
		display: flex;
		flex-direction: column;
		z-index: 3;
		span{
			transition: all 0.3s ease 0s;
			display: block;
			width: 40px;
			height: 2px;
			background-color: #000;
			margin: 0 0 10px 0;
		}
		:last-child{
			margin:0;
		}
	}
	.active__burger{
		span{
			position: absolute;
			margin: 0;
			top: 20px;
		}
		:first-child{
			transform: scale(0);
		}
		:last-child{
			transform: rotate(45deg);
		}
		:nth-child(2){
			
			transform: rotate(-45deg);
		}
	}
}

@media(max-width:$md3){

	header{
		height: 60px;
	}

	.header-icon, .header-top{
		transform: scale(0);
	}

	.burger__item{
		transform: scale(0.8);
		top: 5px;
		left: -5px;
	}

	.active__burger{
		transform: scale(0.8);
		top: 10px;
	}

	.header-menu--l{
		padding: 50px 0 0 10px;
	}
}